<section class="profile">
  <aside class="profile__side">
    <a class="profile__back" href="/settings" data-link aria-label="Назад">←</a>
  </aside>

  <div class="profile__content">
    <h1 class="auth-card__title">Изменить пароль</h1>

    <form class="auth-card__form" action="#" method="post">
      {{> input label="Старый пароль" name="old_password" type="password" value="" autocomplete="current-password"}}
      {{> input label="Новый пароль" name="new_password" type="password" value="" autocomplete="new-password"}}

      <div class="auth-card__actions">
        {{> button type="submit" text="Сохранить" mods="button--primary"}}
      </div>
    </form>
  </div>
</section>